@model LoginVm

@{
    var isArabic = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar";
    ViewData["Title"] = _localizer["Login"];
    Layout = "_MiniLayout";
}
<div class="login py-5">
    <div class="container d-flex align-items-center justify-content-center min-vh-100"
        dir="@(isArabic ? "rtl" : "ltr")">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="container">
                <form asp-controller="Account" asp-action="Login"
                    asp-route-language="@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName"
                      style="padding: 3.3125rem;"
                    method="post" class="p-5 shadow rounded bg-white">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="form-group mb-4" style="margin-top: 25px;">
                        <label class="form-label" style="margin-left: 5px;" asp-for="Email">@_localizer["Email"]</label>
                        <input asp-for="Email" type="email" class="form-control py-3"
                            placeholder="@_localizer["EnterYourEmail"]" />
                        <small><span asp-validation-for="Email" class="form-text text-danger"></span></small>
                    </div>

                    <div class="form-group mb-4">
                        <label style="margin-left: 5px;" class="form-label ms-3" asp-for="Password">@_localizer["Password"]</label>
                        <input asp-for="Password" type="password" class="form-control py-3"
                            placeholder="@_localizer["EnterYourPassword"]" />
                        <small><span asp-validation-for="Password" class="form-text text-danger"></span></small>
                    </div>

                    <div class="my-4">
                        <button type="submit" class="btn btn-primary w-100 text-white pt-3" style="margin-top: 25px; margin-bottom:15px">
                            @_localizer["Login"]
                        </button>
                    </div>

                    <div class="text-center m-2">
                        <p class="mb-0">
                            @_localizer["DontHaveAccount"]
                            <a asp-controller="Account" asp-action="Register"
                               asp-route-language="@System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">@_localizer["RegisterHere"]</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}   